extends ../layouts/default

block openGraph
  meta(property='og:title' content=song.title)
  meta(property='og:type' content='music.song')
  meta(property='og:url' content='http://www.30days30songs.com/'+song.number)
  meta(property='og:image' content=(song.image.url && 'http:'+song.image.url) || 'http://www.30days30songs.com/images/logo.png')
  meta(property='og:description' content=aboutText)

  meta(property='og:music:album' content='30 Days 30 Songs')
  meta(property='og:music:album:track' content=song.number)
  meta(property='og:music:musician:first_name' content=song.artist)


block content
  .song
    .song-day Day #{song.number}, Song #{song.number}
    h2.song-artist= song.artist
    h1.song-title= song.title

    iframe.song-widget(src='https://embed.spotify.com/?uri='+song.spotifyUrl height=80 frameborder=0 allowtransparency='true')

    .song-info
      .song-info-col1
        img.song-image(src=song.image.url)
        p.song-bio= song.bio

      .song-info-col2
        p.song-quote= song.quote

        .song-lyrics-label Lyrics
        p.song-lyrics= song.lyrics


