include ../mixins/flash-messages

doctype html
html(prefix='og: http://ogp.me/ns#')

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    block title
      title= title || '30 Days, 30 Songs'
      meta(name='description' content=aboutText)

    block openGraph
      meta(property='og:title' content='30 Days, 30 Songs')
      meta(property='og:type' content='website')
      meta(property='og:url' content='http://www.30days30songs.com')
      meta(property='og:image' content='http://www.30days30songs.com/images/logo.png')
      meta(property='og:description' content=aboutText)
    meta(property='og:site_name' content='30 Days, 30 Songs')

    //- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon" sizes="180x180" href=asset("/apple-touch-icon.png"))
    link(rel="icon" type="image/png" href=asset("/favicon-32x32.png") sizes="32x32")
    link(rel="icon" type="image/png" href=asset("/favicon-16x16.png") sizes="16x16")
    link(rel="manifest" href=asset("/manifest.json"))
    link(rel="mask-icon" href=asset("/safari-pinned-tab.svg") color="#5bbad5")
    meta(name="theme-color" content="#ffffff")

    link(href='https://fonts.googleapis.com/css?family=Teko:500' rel='stylesheet')

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href=asset("/styles/site.css"), rel="stylesheet")

    //- This file provides the default styling for the KeystoneJS Content Editor
    // if user && user.canAccessKeystone
      // link(href=asset("/keystone/styles/content/editor.min.css"), rel="stylesheet")

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
      script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
    //-[endif]

    //- Typekit
    //- script(src='https://use.typekit.net/aar7qdk.js')
    //- script try{Typekit.load({async: true});}catch(e){}

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

    script(src=asset('/js/paint-brush.js') defer)

  //- HTML BODY
  body
    .main
      block header
        .empty

      .main-wrapper
        .main-center
          .main-content
            block content

          block nav
            .nav-fixed-space
              .nav-fixed
                nav.main-nav
                  .nav-top.box

                  a.nav-logo-link(href='/')
                    img.nav-logo-img(src=asset('/images/logo-simple.svg'))

                  if song
                    .nav-song-links-arrows
                      if song.number > 1
                        a.nav-arrow-left(href=`/${song.number - 1}` title='Previous Song')
                      else
                        .nav-arrow-blank
                      .nav-arrow-number= song.number
                      if song.number < songs.length
                        a.nav-arrow-right(href=`/${song.number + 1}` title='Next Song')
                      else
                        .nav-arrow-blank
                  else
                    .nav-song-links-buffer

                  .nav-links.box
                    each navLink in navLinks
                      div.nav-link: a(href=navLink.url)= navLink.name

      footer.footer.box(paint-color='#efefef')
        a.footer-eagle(href='/')


    //- JAVASCRIPT

    //- jQuery 1.11.3 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.4 (also bundled) for better performance.
    //- script(src='/js/jquery/jquery-1.11.3.min.js')

    //- Customise which Bootstrap javascript files are served by including
    //- them specifically here, instead of bootstrap-3.3.5.min.js
    //- script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    //- if user && user.canAccessKeystone
    //-  script(src='/keystone/js/content/editor.js')

    //- Add scripts that are globally required by your site here.

    //- Include template-specific javascript files by extending the js block
    block js

